<table class="table-bordered" >
	<thead>
		<tr>
			<th>#</th>
			<th>Subcriber</th>
			<th>Order time</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% @orderlists.each do |orderlist| %>
		<tr>
			<td><%= link_to orderlist.id, orderlist_path(orderlist), {:class => "orderlist-link"} %></td>
			<td><%= orderlist.user.first_name+"_"+orderlist.user.last_name %> </td>
			<td><%= orderlist.order_time %> </td>
			<td><%=link_to "delete", orderlist_path(orderlist) , method: "delete"%> </td>
		</tr>
		<% end %>
	</tbody>
</table>